* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;;
}
/* ASIDE BIOGRAFIA*/
.perfil-perf {
  overflow: hidden;
  width: 100%;
  height: 250px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;

 }

 .fotoperfil {
   width: 60px;
   border-radius: 50px;

 }
 .datos.foto {
   width: 19%;
   overflow: hidden;
   margin: 10px auto 10px auto;
 }

 h4 {
   text-align: center;
 }

.seguir {
  display: inline-block;
  font-size: 0.8rem;
  text-align: center;
}

.datos.seguidores
{
  width: 50%;
  margin: 0 auto;
}

.biografia {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
}

/* USER PUBLICACION */

.user.publicacion {
width: 100%;
display: block;
}
.publicacion-contenedor {
  width: 100%;

}


@media (min-width: 768px) {
  .publicacion-contenedor {
    width: 49.7%;
    display: inline-block;
  }
  .user.publicacion {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
  }

  .datos.foto {
    width: 8%;
  }

  .datos.seguidores {
    width: 22%;
  }
  .biografia {
    font-size: 0.8rem;
    text-align: center;
    padding: 17px;
    margin: 0 57px;
  }

  .perfil-perf {
    height: 221px;
  }
}

@media (min-width: 1024px) {
  .perfil-perf, .trabajos {
    float:left;
  }

  .perfil-perf {
    width: 24%;
    height: 100vh;
    margin-top: 0;
  }

  .trabajos {
    width: 76%;
}
  .main-container {
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
  }

  .publicacion-contenedor {
    width: 24.572%;
    height: 200px;
}

  .fotoperfil {
    width: 97px;
}

.datos.foto {
    width: 98.297px;
    margin-top: 70px;
}

.datos.seguidores {
    width: 163px;
  }

.biografia {
    margin: 50px 20px;
    line-height: 26px;
}

.user.publicacion {
    height: 200px;
}

}

@media (min-width: 1440px) {
  .publicacion-contenedor {
    width: 19.691%;
}
  .trabajos {
    width: 80%;
}
.perfil-perf {
    width: 20%;
  }

  .datos.foto {
    width: 34%;
  }

  .datos.seguidores {
    width: 56%;
}
.main-container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

}
