* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;;
}

.post-container {
  width: 100%;
  overflow: hidden;
  background-color: white;
  margin-top: 100px;
}

h4 {
  margin-left: 9px;
  margin-top: 11px;
  font-size: 0.9rem;
}

.fotoperfil {
  width: 100%;
  object-fit: cover;
}
.infp-fotoperfil-contenedor {
  width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 100%;
    float: left;
}
h4, .fotoperfil {
  float: left;
}

.info-usuario {
  width: 100%;
  clear: both;
  display: block;
  background-color: #F5F5F5;
  padding: 10px;
  overflow: hidden;
}

.user-publicacion {
  width: 100%;
}
.user-post {
  margin: 10px;
}
.user-date {
  margin-left: 10px;
  margin-bottom: 10px;
}
.user-post, .user-date {
  font-size: 0.8rem;
}

.interaccion {
  width: 100%;
  background-color: #F5F5F5;
  overflow: hidden;
  padding: 7px;
}

.inter {
  width: 20px;
  margin-right: 37px;
  margin-left: 40px;
}

@media (min-width:768px) {
  .post-container {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width:1024px) {
  .post-container {
    width: 57%;
  }
}

@media (min-width:1440px) {
  .post-container {
      width: 560px;
    }
}
